{% load static %}
<link rel="stylesheet" href="{% static 'vendor/katex/0.18.4/katex.min.css' %}">
<link rel="stylesheet" href="{% static 'css/departmental_exam_scientific_notation.css' %}">
<script defer src="{% static 'vendor/katex/0.18.4/katex.min.js' %}"></script>
<script defer src="{% static 'vendor/katex/0.18.4/contrib/mhchem.min.js' %}"></script>
<script defer src="{% static 'vendor/katex/0.18.4/contrib/auto-render.min.js' %}"></script>
<script defer src="{% static 'js/departmental_exam_scientific_notation.js' %}"></script>
